@import './../../styles/variables';

:host {
  display: block;
  background-size: 100% auto;

  @media (min-width: 960px) {
    margin: $spacing-lg;
    // acct for margin
    width: calc(50% - 36px);
    display: inline-block;
  }

  .lunch-card-overlay {
    position: absolute;
    background-image: url("/assets/images/cellGradientBackground@2x.png");
    background-size: 100% auto;
    padding-left: $spacing-sm;
    padding-bottom: $spacing-sm;
  }

  .lunch-card-image {
    width: 100%;
    height: auto;
  }
}
