<div class="lunch-card" fxLayout="column">
  <img #lunchImage class="lunch-card-image"
       (load)="adjustOverlay()"
       [src]="restaurantImage" />
    <div #lunchOverlay class="lunch-card-overlay" fxLayout="column" fxLayoutAlign="end start">
      <ng-content></ng-content>
    </div>
</div>
