/** SPACING **/
$spacing-sm: 6px;
$spacing-md: 9px;
$spacing-lg: 12px;
$max-width: 1200px;

/** TYPOGRAPHY **/
$font-family: 'Nunito', sans-serif;
$font-size: 16px;
$font-size-sm: 12px;
$font-size-title: 17px;

/** MEDIA QUERIES **/
$xs:	'screen and (max-width: 599px)';
$sm:	'screen and (min-width: 600px) and (max-width: 959px)';
$md:	'screen and (min-width: 960px) and (max-width: 1279px)';
$lg:	'screen and (min-width: 1280px) and (max-width: 1919px)';
$xl:	'screen and (min-width: 1920px) and (max-width: 5000px)';
$lt-sm:	'screen and (max-width: 599px)';
$lt-md:	'screen and (max-width: 959px)';
$lt-lg:	'screen and (max-width: 1279px)';
$lt-xl:	'screen and (max-width: 1919px)';
$gt-xs:	'screen and (min-width: 600px)';
$gt-sm:	'screen and (min-width: 960px)';
$gt-md:	'screen and (min-width: 1280px)';
$gt-lg:	'screen and (min-width: 1920px)';

/** COLOR **/
$lt-green: #43e895;
$lt-green-dark: #34b379;
$dark-text: #2a2a2a;
$light-text: #ffffff;
