@import './_variables.scss';
@import './_helpers.scss';
@import '~@angular/cdk/overlay-prebuilt.css';

html, body {
  width: 100%;
  height: 100%;
}

html {
  body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 600;
  }

  .drawer-panel {
    width: 100%;
    height: 100%;
    direction: ltr;

    @media #{$md} {
      width: 60%;
    }

    @media #{$gt-md} {
      width: 50%;
    }

    @media #{$gt-lg} {
      width: 40%;
    }
  }

  .site-header {
    background-color: #43E895;
    width: 100%;
    height: 64px;

    .app-name {
      margin: 0;
      padding: 35px 0 10px;
      width: 100%;
      text-align: center;
      font-size: 17px;
      color: white;
      cursor: pointer;
    }

    >.site-header-back-segment, .site-header-map-segment {
      display: flex;
      flex-direction: row;

      button {
        margin-top: 15px;
        background-color: transparent;
        border: 0;
        cursor: pointer;

        &:active, &:focus, &:hover {
          outline: none;
        }

        img {
          width: auto;
          height: 32px;
        }
      }
    }

    >.site-header-back-segment {
      place-content: flex-start;

      button {
        margin-left: $spacing-lg;
      }
    }

    >.site-header-map-segment {
      place-content: flex-end;

      button {
        margin-right: $spacing-lg;
      }
    }
  }

  lt-detail {
    background-color: white;
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: #333333 -1px .5px 1px .5px;
  }

  .page-header {
    background-color: $lt-green-dark;
    color: #ffffff;
    height: 60px;

    h3 {
      text-align: left;
      padding-left: $spacing-lg;
      padding-bottom: 0;
      margin: 0;
      line-height: 1;
      font-size: 16px;
    }
  }

  .ng-trigger-openClose {
    width: 100%;
    position: relative;
  }

  @include app-helpers()
}
