@import './../styles/variables';

:host {
  color: #ffffff;

  .list-view-container {
    width: 100%;
    max-width: $max-width;
    margin: auto;
  }

  .map-view-container {
    width: 100%;
    // adjust for site header height
    height: calc(100% - 64px);
    place-content: center;

    .map-view-map-container {
      // adjust for page header height
      max-height: calc(100% - 60px);

      .map-view {
        width: 100%;
        height: 180px;
        min-height: 180px;
        max-width: $max-width;
        margin: 0 auto 0;

        @media #{$gt-sm} {
          width: 80%;
          height: 100%;
          // adjust for site header height
          max-height: calc(100% - 64px);
        }
      }

      .map-view-list-container {
        width: 100%;
        height: calc(100% - 60);
        overflow-y: scroll;

        @media #{$gt-sm} {
          height: 100%;
          width: 20%;
          max-height: calc(100% - 60px);
        }

        ol {
          width: 80%;

          @media #{$gt-sm} {
            width: 50%;
          }

          li {
            cursor: pointer;
            margin-bottom: 8px;
            text-decoration-color: $dark-text;
            color: $dark-text;

            &:hover {
              color: $lt-green;
            }

            &.selected {
              color: $lt-green-dark;
              font-weight: 600;
              font-size: 1.1em;
              line-height: 1.1;
            }

            h3 {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
