<!-- site header -->
<ng-container *ngTemplateOutlet="header"></ng-container>

<!-- slide out drawer when an restaurant is clicked -->
<lt-drawer #drawer>
  <!-- on mobile need a header to when drawer is full page. -->
  <ng-container *ngIf="media.isActive('lt-md')">
    <ng-container *ngTemplateOutlet="header"></ng-container>
  </ng-container>

  <!-- detail view -->
  <lt-detail [restaurant]="activeRestaurant"></lt-detail>
</lt-drawer>

<!-- list view -->
<div class="list-view-container" *ngIf="isListView">
  <lt-lunch-card *ngFor="let rest of (restaurants | async)"
                 [restaurantImage]="rest.backgroundImageURL"
                 (click)="handleRestaurantClick(rest)">
    {{ rest.name }}
    <br /><span class="text-small">{{ rest.category }}</span>
  </lt-lunch-card>
</div>

<!-- map view -->
<div class="map-view-container" *ngIf="!isListView" fxLayout="column">
  <div class="page-header" fxLayout="column" fxLayoutAlign="center">
    <h3>
      All Locations <br />
    </h3>
  </div>

  <div class="map-view-map-container text-dark" fxFlex fxLayout="column" fxLayout.gt-sm="row">
    <div #mapView class="map-view"></div>
    <div class="map-view-list-container" fxFlex.gt-sm>
      <ol>
        <li *ngFor="let rest of (restaurants | async); let i = index;"
            (click)="handleRestaurantMapViewClick(rest, i)"
            [ngClass]="i + 1 === (selectedMarker | async)?.index ? 'selected' : ''">
          <h3>
            {{ rest.name }}
            <ng-container *ngIf="i + 1 === (selectedMarker | async)?.index">
              <br /><span class="text-small">view details</span>
            </ng-container>
          </h3>
        </li>
      </ol>
    </div>
  </div>
</div>

<!-- header template -->
<ng-template #header>
  <div class="site-header" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="15" class="site-header-back-segment">
      <button *ngIf="drawer.isOpen"
              fxHide.gt-sm
              (click)="drawer.close()">
        <img src="/assets/images/ic_webBack@2x.png" />
      </button>
      <div fxFlex></div>
    </div>
    <div fxFlex></div>
    <div>
      <h3 class="app-name" (click)="handleListViewClick()">Lunch Tyme</h3>
    </div>
    <div fxFlex></div>
    <div fxFlex="15" class="site-header-map-segment" fxLayout="row">
      <div fxFlex></div>
      <button (click)="handleMapViewClick()"><img src="/assets/images/icon_map@2x.png" /></button>
    </div>
  </div>
</ng-template>
