@import './../../styles/variables';

:host {
  .map {
    height: 30%;
    max-height: 180px;
  }

  .detail-container {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -o-transition: opacity .35s ease-in-out;
    -webkit-transition: opacity .35s ease-in-out;

    &.show-map {
      opacity: 1;
      transition: opacity .35s ease-in-out;
      -moz-transition: opacity .35s ease-in-out;
      -o-transition: opacity .35s ease-in-out;
      -webkit-transition: opacity .35s ease-in-out;
    }

    .address-container {
      ul {
        margin: 0;
        padding: 0;

        li {
          font-weight: 300;
          list-style: none;
        }
      }

      > ul {
        margin-left: $spacing-lg;

        > li {
          margin-bottom: 26px;

          &:first-child {
            margin-top: $spacing-md;
          }
        }
      }
    }
  }
}
