<div #container class="detail-container">
  <div class="map" #gmap></div>
  <div class="page-header" fxLayout="column" fxLayoutAlign="center">
    <h3 class="app-name">{{ restaurant?.name }}<br /><span class="text-small">{{ restaurant?.category }}</span></h3>
  </div>
  <div>
    <div class="address-container">
      <ul>
        <li>
          <ul>
            <li>
              {{ restaurant?.location.address }}
            </li>
            <li>
              {{ restaurant?.location.city }}, {{ restaurant?.location.state }} {{ restaurant?.location.postalCode }}
            </li>
          </ul>
        </li>
        <li>{{ restaurant?.contact?.phone }}</li>
        <li *ngIf="restaurant?.contact?.twitter">@{{ restaurant?.contact?.twitter }}</li>
      </ul>
    </div>
  </div>
</div>
